

.canvas {

  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}

.header-main {
  background: url("../img/sweet-it-is-header-bg-1.jpg") 0 0 no-repeat;
  //box-shadow:  inset 0 0 0 10px rgba(0,0,0,.5), inset 0 0 0 20px rgba(255,255,255,0), inset 0 0 0 20px #fff;
  //padding: 50px;
  //width: 96%;
  height: calc(100vh - 48px);
  height: 100vh;
  //margin: 2%;
}
.parallax-2 {
  background: url("../img/bg-2.jpg");
  min-height: 600px;
  padding: 6em;
}
.border-top {
  top: 20px;
}
.border-bottom {
  bottom: 70px;
}
.border-left {
  left: 20px;
}
.border-right {
  right: 20px;
}
.border-top, .border-bottom {
  height: 1px;
  left: 20px;
  right: 20px;
}
.border-top, .border-bottom, .border-left, .border-right {
  position: absolute;
  background: rgba(255,255,255,1);
  z-index: 10;
}
.border-left, .border-right {
  width: 1px;
  top: 20px;
  bottom: 70px;
}
.border-right {
  top: 20px;
}
.border-top {
  right: 96px;
}
.logo {
  display: block;
  height: 30vh;
  margin: 0 auto;
}
.feature {
  height: 40vh;
}
.icon-wrap.right {
  margin-right: 0 !important;
}

main.content-main  {
  background: #fff;
  //padding-top: 100px;
}
.centered {

  img {
    display: block;
    margin: 0 auto 4em;
  }
}
.text-centered {

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1.5rem;
    list-style-type: none;
  }
}
hr {
  background: url("../img/sii-divider.png") no-repeat transparent;
  height: 34px;
  margin: 1em auto 3em;
  width: 470px;
  border: 0;
}
.block {
  //background: #000;
  //color: rgba(255, 255, 255, .85);
  //height: 300px;
  //padding: 4em 4em  6em;

  h2 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2em;
  }
}


.test-bg-1 {
  background: url("../img/gallery/mint-green.png") no-repeat;
  background: #96c5b1;



  p  {
    //position: absolute;
    //background: black;
    //color: white;
    //padding: 20px;
    //resize: vertical;
    //overflow: auto;
  }
}



.clr2 {
  background: #ECAA03;
}
.clr3 {
  background: #00A3CE;
}
//img[src*="lg-"] {
//  margin-bottom: -7px;
//}

//.fade-in {
//  opacity:0;
//}